{
    "swagger": "2.0",
    "info": {
        "title": "CONTACT LIST API",
        "description": "CONTACT LIST",
        "termsOfService": "http://example.com/terms-of-use/",
        "contact": {
            "name": "D.P."
        },
        "license": {
            "name": "Commercial"
        },
        "version": "1.0.0"
    },
    "host": "api.contact-list.loc:8080",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/contact/create": {
            "post": {
                "tags": [
                    "contact"
                ],
                "summary": "Create new contact entry",
                "operationId": "create",
                "parameters": [
                    {
                        "name": "contact",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewContact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/contact/{id}": {
            "get": {
                "tags": [
                    "contact"
                ],
                "summary": "View Contact",
                "operationId": "view",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/contact/update/{id}": {
            "put": {
                "tags": [
                    "contact"
                ],
                "summary": "Update Contact",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewContact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/contact/delete/{id}": {
            "delete": {
                "tags": [
                    "contact"
                ],
                "summary": "Delete Contact",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/contact/search": {
            "get": {
                "tags": [
                    "contact"
                ],
                "summary": "Search contact list",
                "operationId": "search",
                "parameters": [
                    {
                        "name": "searchValue",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NewContact": {
            "required": [
                "email"
            ],
            "properties": {
                "first_name": {
                    "description": "Contact first name",
                    "type": "string",
                    "format": "string",
                    "example": "John"
                },
                "last_name": {
                    "description": "Contact last name",
                    "type": "number",
                    "format": "string",
                    "example": "Doe"
                },
                "profile_photo": {
                    "description": "Link to avatar image",
                    "type": "string",
                    "format": "string",
                    "example": "http://avatar.com/img.jpg"
                },
                "email": {
                    "description": "Email",
                    "type": "string",
                    "format": "string",
                    "example": "email@example.com"
                }
            },
            "type": "object"
        },
        "BaseContact": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "first_name": {
                    "type": "string",
                    "format": "string",
                    "example": "John"
                },
                "last_name": {
                    "type": "string",
                    "format": "string",
                    "example": "Doe"
                },
                "profile_photo": {
                    "type": "string",
                    "format": "string"
                },
                "email": {
                    "type": "string",
                    "format": "string"
                }
            },
            "type": "object"
        },
        "Contact": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/BaseContact"
                },
                {
                    "properties": {
                        "phones": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BaseContactPhone"
                            }
                        }
                    }
                }
            ]
        },
        "BaseContactPhone": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "contact_id": {
                    "type": "integer",
                    "format": "int32",
                    "example": "1"
                },
                "label": {
                    "type": "string",
                    "format": "string",
                    "example": "Home"
                },
                "phone_number": {
                    "type": "string",
                    "format": "string",
                    "example": "555-5555"
                }
            },
            "type": "object"
        },
        "ContactPhone": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/BaseContactPhone"
                },
                {
                    "properties": {
                        "contact": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BaseContact"
                            }
                        }
                    }
                }
            ]
        }
    }
}